backend:
  name: github
  repo: tavhidcom/sveltia # Например: ivan/my-blog
  branch: main # Название твоей ветки

media_folder: "images" # Папка для загрузки картинок
public_folder: "/images"

collections:
  - name: "pages"
    label: "Страницы"
    folder: "content/pages"
    create: true
    # Магия здесь: путь файла будет собираться из родительской папки и слага
    path: "{{parent}}/{{slug}}"
    nested:
      depth: 5
    fields:
      - { label: "Заголовок", name: "title", widget: "string" }
      
      # Поле выбора папки
      - label: "Родительская папка"
        name: "parent"
        widget: "select"
        options:
          - { label: "Корень (Нет папки)", value: "." }
          - { label: "О нас", value: "about" }
          - { label: "Услуги", value: "services" }
          - { label: "Блог", value: "blog" }
        default: "."

      - { 
          label: "Slug (Название файла)", 
          name: "slug", 
          widget: "string", 
          hint: "Например: 'mission' (если выбрано 'О нас', путь будет about/mission)" 
        }
      - { label: "Текст", name: "body", widget: "markdown" }
      - {
          label: "Status",
          name: "status",
          widget: "select",
          options: [
            { label: "Published", value: "published" },
            { label: "Draft", value: "draft" }
          ],
          default: "published"
        }
          default: "published"
        }
