backend:
  name: github
  repo: tavhidcom/sveltia # Например: ivan/my-blog
  branch: main # Название твоей ветки

editor:
  preview: true

media_folder: "images" # Папка для загрузки картинок
public_folder: "/images"

collections:
  - name: "pages"
    label: "Страницы"
    folder: "content/pages"
    create: true
    # 1. Позволяет файлам иметь путь внутри папки (важно для вложенности)
    path: "{{slug}}/index" 
    # 2. Включает древовидный вид в интерфейсе
    nested:
      depth: 5
    # 3. Slug теперь отвечает за имя папки
    slug: "{{slug}}"
    
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { 
          label: "Slug", 
          name: "slug", 
          widget: "string", 
          hint: "Например: 'about' или 'about/team'" 
        }
      - { label: "Text", name: "body", widget: "markdown" }
      - {
          label: "Status",
          name: "status",
          widget: "select",
          options: [
            { label: "Published", value: "published" },
            { label: "Draft", value: "draft" }
          ],
          default: "published"
        }
