backend:
  name: github
  repo: tavhidcom/sveltia # Например: ivan/my-blog
  branch: main # Название твоей ветки

media_folder: "images" # Папка для загрузки картинок
public_folder: "/images"

collections:
  - name: "pages"
    label: "Страницы"
    folder: "content/pages"
    create: true
    # --- СТРОГО ПО ДОКУМЕНТАЦИИ ДЛЯ ПРАВИЛЬНЫХ ИМЕН ---
    identifier_field: "slug" # Указывает использовать slug как ID
    summary: "{{slug}}"      # Отображает в списке именно slug, а не заголовок
    # --------------------------------------------------
    nested:
      depth: 5
    path: "{{path}}/{{slug}}"
    slug: "{{slug}}" # Это поле отвечает за имя ФАЙЛА на GitHub
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Slug", name: "slug", widget: "string" }
      - { label: "Text", name: "body", widget: "markdown" }
      - {
          label: "Status",
          name: "status",
          widget: "select",
          options: ["published", "draft"],
          default: "published"
        }
