backend:
  name: github
  repo: tavhidcom/sveltia # Например: ivan/my-blog
  branch: main # Название твоей ветки

media_folder: "images" # Папка для загрузки картинок
public_folder: "/images"

collections:
  - name: "blog"
    label: "Мои статьи"
    folder: "content" # ПАПКА, ГДЕ ЛЕЖАТ ТВОИ MD-ФАЙЛЫ
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Заголовок", name: "title", widget: "string" }
      - { label: "Текст", name: "body", widget: "markdown" }
